@import '../utils.scss';

.button {
  padding: 10px 15px;
  border-radius: 4px;

  &-primary {
    border: 1px solid $color-bg-secondary;
    background-color: $color-main;
    &:hover,
    :focus,
    :active {
      border: 1px solid $color-main;
    }
  }
  &-secondary {
    border: 1px solid $color-bg-secondary;
    background-color: $color-bg-main;
    color: white;

    &:hover,
    :focus,
    :active {
      border: 1px solid $color-bg-details;
    }
  }
}
