@import '../utils.scss';

.button {
  padding: 10px 15px;
  border-radius: 4px;

  &-primary {
    border: 1px solid $color-bg-secundary;
    background-color: $color-principal;
    &:hover,
    :focus,
    :active {
      border: 1px solid $color-principal;
    }
  }
  &-secundary {
    border: 1px solid $color-bg-secundary;
    background-color: $color-bg-main;
    color: white;

    &:hover,
    :focus,
    :active {
      border: 1px solid $color-bg-terciary;
    }
  }
}
