@import './utils.scss';
@import './buttons/button.scss';
@import './inputs/inputs.scss';

.App__container {
  background-color: $color-bg-main;
  width: 100%;
  min-height: 100vh;
  display: block;
}

.main-container {
  padding-top: 60px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 120px;

  &-library {
    padding-top: 180px;
    padding-bottom: 120px;
  }
}

.rounded-4 {
  border-radius: 4px;
}

.img__logo {
  &-m {
    width: 150px;
  }
  &-xm {
    margin: 0 auto;
    width: 100px;
  }
  &-s {
    width: 50px;
  }
}
.card {
  background-color: $color-bg-secundary;
  border-radius: 4px;
}
.bg__primary {
  background-color: $color-bg-main;
}
.bg__secundary {
  background-color: #be255d;
}
.color__primary {
  color: $color-principal;
}
.color__secundary {
  color: #be255d;
}
.border-mk-magenta {
  border-color: $color-principal;
}
