@import './utils.scss';
@import './buttons/button.scss';
@import './inputs/inputs.scss';

.App__container-public {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #323334, #232526);
  background: linear-gradient(to bottom right, #323334, #090a0a);

  width: 100%;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;

  .main-container-public {
    max-width: 1200px;
  }
}

.App__container {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #323334, #232526);
  background: linear-gradient(to bottom right, #323334, #090a0a);

  width: 100%;
  min-height: 100vh;
  display: grid;

  grid-template-areas:
    'Header'
    'mainContainer'
    'Player';
  grid-template-rows: 60px 1fr 60px;

  .main-container {
    grid-area: mainContainer;
  }

  .header {
    grid-area: Header;
  }
  .headerGoBack {
    position: fixed;
    top: 0;
    z-index: 1;
    @media (min-width: 750px) {
      top: 60px
    }
  }
  .player {
    grid-area: Player;
  }
  @media (min-width: 750px) {
    overflow-y: hidden;
    grid-template-areas:
      'Header Header '
      'navMenu mainContainer'
      'navMenu Player';
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 100px;
    .menu-overlay {
      grid-area: navMenu;
    }
  }
  .mobile-hidden {
    display: none;
    @media (min-width: 750px) {
      display: flex;
    }
  }
}

.main-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 120px;
}

.rounded-4 {
  border-radius: 4px;
}

.img-play {
  opacity: 0;
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 1;
    background-color: rgba(41, 41, 41, 0.357);
  }
}

.images-shadow {
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 0px 1px)
    drop-shadow(rgba(0, 0, 0, 0.3) 0px 0px 10px);
}
.card {
  background-color: $color-bg-secundary;
  border-radius: 4px;
}
.bg__primary {
  background-color: $color-bg-main;
}
.bg__secundary {
  background-color: #be255d;
}
.bg__terciary {
  background-color: $color-bg-terciary;
}
.color__primary {
  color: $color-principal;
}
.color__secundary {
  color: #be255d;
}
.border-mk-magenta {
  border-color: $color-principal;
}
