@import './utils/utils.scss';
@import './buttons/button.scss';
@import './colors/colors.scss';
@import './inputs/inputs.scss';
@import './images/images.scss';
@import './text/text.scss';

.App__container-public {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #323334, #232526);
  background: linear-gradient(to bottom right, #323334, #090a0a);

  width: 100%;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;

  .card {
    background-color: $color-secondary;
    border-radius: 4px;
  }

  .main-container-public {
    max-width: 1200px;
  }
}

.App__container {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #323334, #232526);
  background: linear-gradient(to bottom right, #323334, #090a0a);

  width: 100%;
  min-height: 100vh;
  display: grid;

  grid-template-areas:
    'Header'
    'mainContainer'
    'Player';
  grid-template-rows: 60px 1fr 60px;

  .main-container {
    grid-area: mainContainer;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 120px;
  }
  .container {
    &-playlist-loader {
      display: flex;
      overflow-x: auto;
    }
  }
  .header {
    grid-area: Header;
  }
  .header-goback {
    position: fixed;
    width: 100%;
    align-items: center;

    display: flex;
    justify-content: flex-end;
    top: 0;
    z-index: 1;
    @media (min-width: 750px) {
      width: calc(100% - 200px);
      top: 60px;
    }
  }
  .player {
    grid-area: Player;
  }

  @media (min-width: 750px) {
    overflow-y: hidden;
    grid-template-areas:
      'Header Header '
      'navMenu mainContainer'
      'navMenu Player';
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 100px;
    .menu-overlay {
      grid-area: navMenu;
    }
  }
  .mobile-hidden {
    display: none;
    @media (min-width: 750px) {
      display: flex;
    }
  }
}

.progress-bar {
  background: $color-main !important;
}
