$color-bg-main: #121212;
$color-bg-secundary: #2a2a2a;
$color-bg-terciary: #303030;
$color-bg-details: #b3b3b3;
$color-error: #a71054;
$color-principal: #f1446a;
$color-text-main: rgba(55, 65, 81, 1);
$degraded: linear-gradient(
  90deg,
  rgba(0, 0, 0, 1) 0%,
  rgba(241, 68, 106, 1) 100%
);

.debug {
  * {
    outline: 1px solid lightgray;
  }
}
