$background-color: #000;
$background-main-color: #121212;
$background-secundary-color: #414349;
$background-terciary-color: #b3b3b3;
$color-error: #a71054;
$color-principal: #f1446a;
$degraded: linear-gradient(
  90deg,
  rgba(0, 0, 0, 1) 0%,
  rgba(241, 68, 106, 1) 100%
);

.debug {
  * {
    outline: 1px solid lightgray;
  }
}
