.bg__primary {
  background-color: $color-bg-main;
}
.bg__secondary {
  background-color: #be255d;
}
.bg__terciary {
  background-color: $color-bg-terciary;
}
.color__primary {
  color: $color-main;
}
.color__secondary {
  color: #be255d;
}
.border-mk-main {
  border-color: $color-main;
}
