@import '../../styles/utils/utils.scss';
.bg__primary {
  background-color: $color-black;
}
.bg__secondary {
  background-color: $color-main;
}
.bg__terciary {
  background-color: $color-terciary;
}
.color__main {
  color: $color-main;
}
.border-main {
  border-color: $color-main;
}
