@import '../../styles/utils.scss';

.library-nav {
  position: fixed;
  top: 60px;
  padding: 10px;
  left: 0;
  right: 0;
  height: 60px;
  background-color: $color-black;
  display: flex;
  align-items: center;
  z-index: 1;

  &__link {
    cursor: pointer;
    margin: 0 10px;
    color: rgba(255, 255, 255, 0.5);

    &:hover,
    &-active {
      color: white;
    }
  }
  @media (min-width: 750px) {
    height: 60px;
    top: 60px;
    left: 200px;
    position: fixed;
  }
}
