@import '../../styles/utils.scss';
.playlist {
  &-img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
  }
  &-button-play {
    background-color: $color-bg-main;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    top: calc(28vh + 48px);
    padding-left: 2px;
    color: white;
  }
}
