.card-playlist {
  width: 160px;

  &-cover {
    height: 160px;
    width: 160px;
    &-play {
      max-height: 160px;
      max-width: 160px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}
