@import '../../styles/utils.scss';
.menu-overlay {
  background-color: $background-main-color;
  color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  a {
    padding: 10px 0;
    &:first-child {
      padding-top: 20px;
    }
  }
}

.open {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}
