@import '../../styles/utils.scss';

.input-password__input {
  position: relative;
}
.password-vision {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 5px;
  color: $color-bg-secundary;
  font-size: 20px;
}
