@import '../../styles/utils.scss';

.nav-profile {
  width: 200px;
  margin-top: 14px;
  right: 0;
  color: rgba(255, 255, 255, 0.5);
  background-color: black;
  border-bottom: 0.5px solid $background-secundary-color;
  a,
  button {
    padding: 10px 15px;
    text-align: left;
    &:hover {
      color: white;
    }
  }
}
