@import '../../styles/utils.scss';
.img-play {
  opacity: 0;
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 1;
    background-color: rgba(41, 41, 41, 0.357);
  }
}

.time {
  all: unset;
  text-decoration: none !important;
}

.card-song {
  height: 60px;
  display: flex;
  margin: 1rem 0;
  align-items: center;
  &:hover {
    border-radius: 4px;
    background-color: $color-bg-terciary;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 0px 1px)
      drop-shadow(rgba(0, 0, 0, 0.3) 0px 0px 10px);
  }

  .info-hidden {
    display: none;
  }
  @media (min-width: 750px) {
    .info-hidden {
      display: flex;
      * {
        padding: 0 15px;
      }
    }
  }
}

.image-container {
  min-width: 86px;
}

.info-container {
  width: 100%;
}
