@import '../../styles/utils.scss';
.img-play {
  opacity: 0;
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 1;
    background-color: rgba(41, 41, 41, 0.357);
  }
}

.time {
  all: unset;
  text-decoration: none !important;
}

.card-song {
  &:hover {
    background-color: $color-bg-secundary;
    border-radius: 4px;
  }
}

.image-container {
  min-width: 96px;
}

.info-container {
  width: 100%;
}
