@import '../../styles/utils.scss';

.input__edit[type='text'] {
  font-size: 14px;
  width: 100%;
  padding: 10px 15px;
  display: block;
  color: black;
  border: 1px solid $background-terciary-color;
  &:hover,
  &:active {
    border: 1px solid $color-principal;
  }
  &::placeholder {
    color: $background-secundary-color;
  }
}
.icon_edit {
  color: white;
  background-color: $background-main-color;
  padding-top: calc(50% - 9px);

  border: 1px solid $color-principal;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
}
