@import '../../styles/utils/utils.scss';

.icon_edit {
  color: white;
  background-color: $color-black;
  padding-top: calc(50% - 9px);

  border: 1px solid $color-secondary;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  &:hover,
  &:active {
    border: 1px solid $color-main;
  }
}
