@import '../../styles/utils.scss';
.input__edit[type='text'] {
  font-size: 18px;
  background-color: transparent;
  width: 100%;
  color: $background-color;
  padding: 10px 10px 10px 5px;
  display: block;
  color: rgb(200, 200, 200);
  border: none;
  border-bottom: 1px solid $color-error;
  &:hover,
  &:active {
    border-bottom: 2px solid $color-principal;
    color: white;
  }
}
.icon_edit {
  color: #fff;
  background-color: $background-secundary-color;
  padding-top: calc(50% - 9px);

  border: 1px solid $color-principal;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
}
