@import '../../styles/utils.scss';
.dropdown {
  position: absolute;
  width: 200px;
  margin-top: 75px;
  right: 15px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.5);
  background-color: black;
  border-bottom: 0.5px solid $color-bg-secundary;
  a,
  button {
    padding: 10px 15px;
    text-align: left;
    &:hover {
      color: white;
    }
  }
}

.nav-profile {
  position: absolute;
  width: 200px;
  right: 0;
  top: 60px;
  color: rgba(255, 255, 255, 0.5);
  background-color: black;
  border-bottom: 0.5px solid $color-bg-secundary;
  a,
  button {
    padding: 10px 15px;
    text-align: left;
    &:hover {
      color: white;
    }
  }
}
